.footer-text{
    color:  rgba(0,0,0,0.5);
}
.m-active-menu__item{
    background-color: #fff;
    border-top-right-radius: 1.5625em;
    border-bottom-right-radius: 1.5625em;
    margin-right: 0.3125em !important;
}
.m-active-menu__link{
    background: #fff;
    border-bottom-right-radius:  1.5625em;
    border-top-right-radius:  1.5625em;
}
.m-menu__item:hover{
    background-color: #fff;
    border-top-right-radius: 1.5625em;
    border-bottom-right-radius: 1.5625em;
    margin-right: 0.3125em !important;
}
.m-content--skin-light2 .m-body {
    background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2) !important;
}
.m-stack--topbar{
    border-bottom: 1px solid rgba(197,175,175,0.5);
}
