.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control {
    color: black !important;
    background:#ffffff!important;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .form-control::placeholder {
    color: rgba(0,0,0,0.5)!important;
}

.m-checkbox.m-checkbox--light>span {
    border: 1px solid #ffffff!important;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-checkbox {
    color: #ffffff !important;
    font-weight: bold;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-sub .m-link {
    color: #ffffff !important;
    font-weight: bold;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn.m-login__btn--primary {
    border-color: #fff;
    background: #ffffff!important;
    color: black !important;
}
.m-login__title{
    font-weight: bold;
}
.m-login__account-link{
    font-weight: bold;
}

.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__account .m-login__account-msg {
    color: #ffffff !important;
    font-weight: bold;
}
.login-basket{
    height: 100px!important;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__head .m-login__desc {
    color: #ffffff!important;
}
.m-login-cancel__btn{
    background: #ffffff!important;
    border: 1px solid #ffffff !important;

}
.m-login-sign__btn{
    color: #0a8cf0 !important;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn {
    color: black !important;
    border-color: #9168eb;
    background-color: transparent;
}
.m-login.m-login--2.m-login-2--skin-1 .m-login__container .m-login__form .m-login__form-action .m-login__btn:hover {
    color: black !important;
}
.alert-success{
    display: none;
}
.alert-danger{
    display: none;
}

